@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {

  text-align: center;
  margin:0;
  padding:0;
}
html {
  display:flex;
  justify-content: center;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content:space-between;
  width: 700px;
  margin-bottom: 3rem;
}
.item {
  margin: 1.1rem 2rem;
  color: rgb(124, 46, 89);
}
.logo {
  max-width: 120px;
  max-height: 40px;
}

.inputFilter {
  width: 450px;
  height: 35px;
  text-align: left;
  font-size: 1.1rem;
  position: relative;
  top:-15px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.336);
  text-indent:30px;

}
input::placeholder {
  font-size: 1.1rem;
  text-align: left;
  color:lightgray;
  transform:translate3d(0,3px,0);
  background: url(./img/search.svg);
  background-size: 18px 25px;
  background-repeat: no-repeat; 
  background-position: 0px -3px;
  background-position: 5px;
}

.bg {
  background-color:#B6557E;
  padding-bottom: 1rem;
  color:white;
  font-weight: 300;
  width: 100%;
}

.filter{
  display:flex;
  justify-content:space-around;
}

.hideNshow img {
  cursor: pointer;
  width: .4rem;
}
.hideNshow #arrowDown {
  transform: rotateX(180deg);
  position: relative;
  top:-2px;
}

.pinkFilterBox {
  max-width: 700px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  text-align: left;
  margin: 0 3rem;
  display: flex;
  align-items: center;
}
.grid-item p {
  padding:.4rem .75rem;
}
.grid-item input[type='checkbox'] {
    -webkit-appearance:none;
    width:1.2rem;
    height:1.2rem;
    background:white;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.603);
}
input[type='checkbox']:checked {
    background: url(./img/check.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: white;
}
.grid-item #favo {
  width: 1.2rem;
}

.grid-item #favo:checked {
  background: url(./img/check.svg);

}

.filterMenu {
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 10px;
  width: 450px;
  margin: 0 auto;
}

.activeFilter, .inActiveFilter {
  margin-left: 10px;
  text-align: left;
}
.hideFilter, .showFilter {
  text-align: right;
  margin-left: 10px;
}


.robots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.robots li {
  list-style: none;
}
.card {
  display: grid;
  grid-template-columns: 50px auto auto 10px;
  padding: 10px;
  color:grey;
  background: #A0D2DD;
  border: 1px solid black;
  margin: 1rem 0 0 0;
  width: 450px;
  height: 50px;
  border-radius: 10px;
  align-items: center;
}
.card:nth-child(1){
  margin-top: .5rem;
}
.card:nth-child(odd){
  background: #C3E3E8;
}
.card .botPic {
  width: 45px;
  height: 45px;
  border-radius: 9999px;
  background-color: white;
  border: 1px solid black;
}

.star {
  position: relative;
  left: 7px;
  top: -31px;
  width: 20px;
}

.numberOfTheBeast {
  position: relative;
  left:-100px;
  top:-10px;
}