@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {

  text-align: center;
  margin:0;
  padding:0;
}
html {
  display:flex;
  justify-content: center;
}
body {
  font-family: 'Nunito Sans', sans-serif;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
.container {
  display: flex;
  justify-content:space-between;
  width: 700px;
  margin-bottom: 3rem;
}
.item {
  margin: 1.1rem 2rem;
  
  color: rgb(124, 46, 89);
}
.logo {
  max-width: 120px;
  max-height: 40px;
}

.inputFilter {
  width: 450px;
  height: 35px;
  text-align: left;
  font-size: 1.1rem;
  position: relative;
  top:-15px;
}
input::placeholder {
  font-size: 1.1rem;
  text-align: left;
  padding-left: 2rem;
  color:lightgray;
  transform:translate3d(0,3px,0);
  background: url(./img/magni.png);
  background-size: 25px 25px;
  background-repeat: no-repeat; 
  background-position: 0px -3px;
}

.star {
  visibility:hidden;
  font-size:1rem;
  cursor:pointer;
}
.star:before {
 content: "\2606";
 position: absolute;
 visibility:visible;
}
.star:checked:before {
 content: "\2605";
 position: absolute;
}
.bg {
  background-color:#B6557E;
}
.filter{
  display:flex;
  justify-content:space-around;
}
.pinkFilterBox {
  max-width: 700px;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  text-align: center;
  margin: 0 2rem;
}
.filterMenu {
  display: flex;
  justify-content: space-between;
  margin: 2rem 8rem 0 8rem;
  
}

a  {
  cursor: pointer;
}
.robots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: grid;
  grid-template-columns: 5px 50px auto auto 10px;
  padding: 10px;
  color:grey;
  background: #A0D2DD;
  border: 1px solid black;
  margin: 1rem 0 0 0;
  width: 450px;
  height: 50px;
  border-radius: 10px;
  align-items: center;
}
.card:nth-child(even){
  background: #C3E3E8;
}
.card img {
  width: 45px;
  height: 45px;
  border-radius: 9999px;
  background-color: white;
  border: 1px solid black;

}
.card .star {
  position: relative;
  left: 0px;
  top: -40px;
  font-size: 1.4rem;
}
.card .star:before {
  content: "\2606";
  color: 	#D5894D;
  position: absolute;
  visibility:visible;
}
.card .star:checked:before {
  content: "\2605";
  position: absolute;
 }
 .index {
   position: relative;
   left:-40px;
 }